<!DOCTYPE html>
<html>
<head>
    <title>Loan Risk Predictor</title>
</head>
<body>
    <h1>Upload Loan Document (.txt)</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>

    <hr>
    <h2>File Content:</h2>
    <pre>{{ response | tojson(indent=2) }}</pre>

    {% if response.features_used %}
        <h2>Extracted Features:</h2>
        <ul>
        {% for k, v in response.features_used.items() %}
            <li><strong>{{ k }}:</strong> {{ v }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
